html, body {
	height: 100%;
}
.nike--violet {
	padding: 5px 35px;
	position: relative;
	z-index: 2;
	font-family: Roboto;
}
.violet--bg {
	background-image: url('../images/bg.jpg');
	position: relative;
}
.violet--bg:before {
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url('../images/bg_t.png');
	position: absolute;
	z-index: 1;
}
.violet--bg,
.violet--bg:before {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.navigation {
	width: 85.3%;
	margin: 30px auto;
	position: relative;
}
.navigation:after {
	clear: both;
	content: '';
	display: table;
}
.navigation__logo,
.dropdown {
	position: absolute;
	top: 50%;
}
.navigation__logo {
	left: 0;
}
.dropdown {
	right: 0;
}
.navigation__logo-img {

}
.dropdown__menu {
	display: none;
}
.dropdown__toggle {
	width: 22px;
	display: block;
}
.thumb {
	height: 3px;
	background-color: #fff;
	border-radius: 2px;
	width: 100%;
	float: left;
}
.thumb+.thumb {
	margin-top: 3px;
}
.navigation__menu {
	width: 46.2%;
	margin: 0 auto;
}
.navigation__menu-item {
	float: left;
	width: 25%;
	text-align: center;
}
.navigation__menu-link {
	color:  #ffffff;
	font-size: 18px;
	font-weight: 300;
	text-align: left;
	text-decoration: none;
}
.navigation__menu-link:hover {
	border-bottom: 2px solid white;
	font-weight: 700;
	transition: 0.2s ease;

}
.content {
	height: 530px;
	position: relative;
	margin: 0 auto;
	width: 85.6%;
}
.goods-content {
	width: 100%;
	height: 100%;
	background-color: #eee;
	position: relative;
	z-index: 5;
}
.content:after,
.content:before {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: '';
}
.content:before {
	width: 105%;
	height: 95%;
	z-index: 4;
	background-color: white;
	opacity: 0.5;
}
.content:after {
	width: 110%;
	height: 90%;
	z-index: 3;
	background-color: white;
	opacity: 0.3;
}
.left-side {
	width: 70%;
	height: 100%;
	background: url("../images/bg_title.png") no-repeat center 25%;
	background-size: 90%;
	float: left;
}
.content_img {
	width: 100%;
	margin-top: 30%;
	height: 58.1%;
	width: 80.4%;
	position: relative;
	left: 12%;
	bottom: 10%;
}
.right-side {
	width: 30%;
	float: right;
	margin-top: 5%;
	font-family: 'Roboto', sans-serif;
}
.category {
	width: 18%;
	background-color: #ffa60d;
	font-size: 18px;
	padding: 3%;
	color: white;
}
.slogan {
	margin-top: 5%;
	font-size: 30px;
}
.slogan_span {
	color: #5e4fff;
}
.evaluation {
	margin-top: 7%;
	font-size: 20px;
}
.evaluation_list {
	float: right;
	position: relative;
	right: 35%;
	width: 30%;
}
.evaluation_list li {
	display: inline;
}
.evaluation_list li img {
	width: 15%;
}
.price {
	font-size: 30px;
	margin-top: 7%;
}
.size {
	margin-top: 7%;
	font-weight: 700;
	font-size: 18px;
}
.size_list {
	margin-top: 3%;
}
.size_list li {
	display: inline;
	margin-right: 10%;
	padding: 5px;
}
.size_list li:hover {
	border: 2px solid black;
	transition: 0.2s ease;
}
.first-button {
	margin-top: 20%;
	background-color: #a200b8;
	font-size: 14px;
	color: white;
	padding: 4%;
	border-radius: 2px;
	width: 50%;
	border: none;
}
.second-button {
	margin-top: 2%;
	font-size: 14px;
	padding: 4%;
	width: 50%;
	border: 1px solid black;
	background-color: white;
	border-radius: 2px;
}